/* CSS Styles for the demo, not required for use */

* {
	box-sizing: border-box;
}

body {
	font-family: arial, verdana, sans-serif; 
}

header {
	margin-bottom: 30px;
}

h1 {
	font-size: 1.25em;
}

h2 {
	font-size: 1em;
}

textarea {
	width: 500px;
	max-width: 100%;
	min-height: 150px;
	padding: 10px;
}

.te-content-editable {
	width: 500px;
	max-width: 100%;
	min-height: 150px;
	padding: 10px;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
	margin-top: 20px;
	font: normal normal normal 13.3333330154419px/normal Arial;
	font-family: monospace;
}

.te-mention {
	display: inline-block;
}

.te-tag {
	border: solid 1px #999;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    font-size: 11px;
    text-decoration: none;
    color: #333;
    background: #9EE4FF;
}