/*
Some starter styles for using vesperjs, these are the minimal to get things
working, you should customize/replace to your applications needs
*/

.te-mentions-list {
	&.te-mention-content-editable {
		margin-top: 20px;
	}
	
	max-height: 150px;
	overflow-y: scroll;
	display: inline-block;
	box-shadow: 0 0 7px rgba(0,0,0,0.6);
	position: absolute;
}

.te-mentions-list-results {
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #ddd;
	display: inline-block;
	background: #fff;

	li {
		border: 1px solid #ddd;
		border-bottom: none;
		padding: 5px;
		min-width: 150px;

		&.te-active {
			background: #ccccff;
		}
	}
}
